<% form_for(@aircraft) do |f| -%>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => :inputbox %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity, :class => :inputbox %>
  </p>
  <p>
    <span>
      <%= f.check_box :ours %>
      <%= f.label :ours %>
    </span>
  </p>
  <p>
    <%= f.submit 'Submit', :class => :button %>
  </p>
<% end -%>
