- form_for(@aircraft) do |f|
  = f.error_messages

  %p
    = f.label :name 
    %br
    = f.text_field :name
  %p
    = f.label :capacity 
    %br
    = f.text_field :capacity
  %p
    %span
      = f.check_box :ours
      = f.label :ours
  %p
    = f.submit 'Submit'

= set_focus_to_id 'aircraft_name'
