<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th>Ours</th>
  </tr>

<% @aircrafts.each do |aircraft| %>
  <tr>
    <td><%=h aircraft.name %></td>
    <td><%=h aircraft.capacity %></td>
    <td><%=h 'Yes' if aircraft.ours %></td>
    <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
    <td><%= link_to 'Delete', aircraft, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="link_to_new">
  <span>
    <%= link_to 'New Aircraft', new_aircraft_path %>
  </span>
</div>
