%table
  %tr
    %th Name
    %th Capacity
    %th Ours

  - @aircrafts.each do |aircraft|
    %tr
      %td= h aircraft.name
      %td= h aircraft.capacity
      %td= h 'Yes' if aircraft.ours
      %td= link_to 'Edit', edit_aircraft_path(aircraft)
      %td= link_to 'Delete', aircraft, :confirm => 'Are you sure?', :method => :delete

%br

= round_button 'New', new_aircraft_path
