- form_for @equipment, :url => equipment_form_path, :html => equipment_form_html_options do |f|
  = f.error_messages
  %p
    = f.label :name
    \:
    = f.text_field :name
  %p
    = f.submit 'Submit', :class => :button

= set_focus_to_id 'equipment_name'
