- form_for @equipment, :url => (@equipment.new_record? ? equipment_path : equipment_instance_path(@equipment)), :html => (@equipment.new_record? ? { :method => :post } : { :method => :put }) do |f|
  = f.error_messages
  %p
    = f.label :name
    \:
    = f.text_field :name
  %p
    = f.submit 'Submit', :class => :button

= set_focus_to_id 'equipment_name'
