<%= error_messages_for :load %>

<% form_for @load do |f| -%>

<p>
  <%= f.label :date, 'Date:' %>
  <%= f.date_select :date, {}, { :class => 'inputbox' } %>
</p>
<p>
  <%= f.label :aircraft_name, 'Aircraft:' %>
  <%= text_field_with_auto_complete :load, :aircraft_name, 
      { :class => 'inputbox' }, 
      { :url => aircrafts_path(:format => :js), :method => :get, :param_name => 'search' } %>
</p>

<div id="slots">
  <%= render :partial => 'slot', :collection => @load.slots %>
</div>

<p>
  <%= add_slot_link "Add a slot" %>
</p>

<%= f.submit "Submit", :class => 'button' %>
<% end -%>
