<%= error_messages_for :load %>

<% form_for @load do |f| -%>

<p>
  <%= f.label :date, 'Date:' %>
  <%= f.date_select :date, { :order => [:day, :month, :year] }, { :class => :inputbox } %>
</p>
<p>
  <%= f.label :aircraft_name, 'Aircraft:' %>
  <% Aircraft.find(:all).each do |aircraft| %>
    <%= f.radio_button :aircraft_name, aircraft.name %>
    <%= f.label 'aircraft_name_' + aircraft.name.downcase, aircraft.name %>
  <% end %>
  <%= f.label :new_aircraft_name, 'Other:' %> 
  <%= f.text_field :new_aircraft_name, { :class => :inputbox } %>
</p>

<div id="slots">
  <%= render :partial => 'slot', :collection => @load.slots %>
</div>

<p>
  <%= add_slot_link "Add a slot" %>
</p>

<%= f.submit "Submit", :class => 'button' %>
<% end -%>
