<%= error_messages_for :load %>

<% form_for @load do |f| -%>

  <p>
    <%= f.label :date, 'Date:' %>
    <%= f.date_select :date, { :order => [:day, :month, :year] }, { :class => :inputbox } %>

    <br />

    <%= f.label :pilot_id, 'Pilot:' %>
    <%= f.collection_select(:pilot_id, Account.pilots, :id, :name, { :prompt => true }, :class => :inputbox) %>

    <br />

    <%= render :partial => 'aircraft', :locals => { :f => f } %>
  </p>

  <div class="line"><hr /></div>

  <div id="slots">
    <%= render :partial => 'slot', :collection => @load.slots %>
  </div>

  <div class="submit">
    <%= f.submit "Submit" %>
  </div>

  <div class="learn">
    <span><%= add_slot_link "ADD A SLOT" %></span>
  </div>

<% end -%>

<%= set_focus_to_id 'load_pilot_id' %>
