<%= error_messages_for :load %>

<% form_for @load do |f| -%>

<p>
  <%= f.label :date, 'Date:' %>
  <%= f.date_select :date, { :order => [:day, :month, :year] }, { :class => :inputbox } %>
</p>
<p>
  <%= render :partial => 'aircraft', :locals => { :f => f } %>
</p>

<div id="slots">
  <%= render :partial => 'slot', :collection => @load.slots %>
</div>

<p>
  <%= add_slot_link "Add a slot" %>
</p>

<%= f.submit "Submit", :class => 'button' %>
<% end -%>
