<%= error_messages_for :load %>

<% form_for @load do |f| -%>

<p>
  <%= f.label :date, 'Date:' %>
  <%= f.date_select :date, { :order => [:day, :month, :year] }, { :class => :inputbox } %>
</p>
<p>
  <%= f.label :pilot_id, 'Pilot:' %>
  <%= f.collection_select(:pilot_id, Account.pilots, :id, :name, { :prompt => true }, :class => :inputbox) %>
</p>
<p>
  <%= render :partial => 'aircraft', :locals => { :f => f } %>
</p>

<hr />

<div id="slots">
  <%= render :partial => 'slot', :collection => @load.slots %>
</div>

<p>
  <%= add_slot_link "Add a slot" %>
</p>

<%= f.submit "Submit", :class => 'button' %>
<% end -%>

<%= set_focus_to_id 'load_pilot_id' %>
