= error_messages_for :load

- form_for @load do |f|

  %p
    = f.label :date, 'Date:'
    = f.date_select :date, { :order => [:day, :month, :year] }

    %br

    = render :partial => 'aircraft', :locals => { :f => f }

    %br

    = f.label :pilot_id, 'Pilot:'
    = f.collection_select(:pilot_id, Account.pilots, :id, :name)

  .line
    %hr

  .slots
    = render :partial => 'slot', :collection => @load.slots

  .submit
    = f.submit "Submit"

  .add_slot
    .round_button_block
      .round_button_button
        .round_button_content 
          = link_to 'Add a Slot'

= set_focus_to_id 'load_pilot_id'
= javascript_include_tag 'slot_cost'
