<table>
  <tr>
    <th>Date</th>
    <th>Aircraft</th>
  </tr>

<% @loads.each do |load| %>
  <tr>
    <td><%=h load.date %></td>
    <td><%=h load.aircraft_name %></td>
    <td><%= link_to 'Edit', edit_load_path(load) %></td>
    <td><%= link_to 'Delete', load, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_new 'New load', new_load_path %>
