= round_button 'New', new_load_path

%table
  %tr
    %th #
    %th Date
    %th Aircraft

  - @loads.each do |load|
    %tr
      %td= "#{load.number}:"
      %td= h load.date
      %td= h load.aircraft_name
      %td= link_to 'Edit', edit_load_path(load)
      %td= link_to 'Delete', load, :confirm => 'Are you sure?', :method => :delete
