<h1>New load</h1>

<% form_for(@load) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :aircraft_id %><br />
    <%= collection_select(:load, :aircraft_id, Aircraft.find(:all), :id, :name, { :prompt => true}) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', loads_path %>
