<p>
  <b>Date:</b>
  <%=h @load.date %>
</p>

<p>
  <b>Aircraft:</b>
  <%=h @load.aircraft_name %>
</p>
<% for slot in @load.slots %>
  <p>
    <b>Jumper:</b>
    <%=h slot.jumper_name %>
  </p>
  <p>
    <b>Jump Type:</b>
    <%=h slot.jump_type_name %>
  </p>
  <p>
    <b>Equipment:</b>
    <%=h slot.equipment_name %>
  </p>
  <p>
    <b>Altitude:</b>
    <%=h slot.altitude %>
  </p>
  <p>
    <b>Notes:</b>
    <%=h slot.notes %>
  </p>
<% end %>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'New',  new_load_path %> |
<%= link_to 'List', loads_path %>
