<p>
  <b>Date:</b>
  <%=h @load.date %>
</p>

<p>
  <b>Aircraft:</b>
  <%=h @load.aircraft_name %>
</p>
<% for slot in @load.slots %>
<p>
  Jumper: <%=h slot.jumper_name %>
</p>
<% end %>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
