= round_button 'New', new_transaction_path

%table
  %tr
    %th Account
    %th Method
    %th Amount
    %th Notes
    %th Date
  
  - @transactions.each do |transaction|
    %tr
      %td= h transaction.account_name
      %td= h transaction.payment_method_name
      %td= h transaction.amount
      %td= h transaction.notes
      %td= h transaction.date
      - unless transaction.slot
        %td= link_to 'Edit', edit_transaction_path(transaction)
        %td= link_to 'Delete', transaction, :confirm => 'Are you sure?', :method => :delete
