<table>
  <tr>
    <th>Account</th>
    <th>Method</th>
    <th>Amount</th>
    <th>Notes</th>
    <th>Date</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%=h transaction.account_name %></td>
    <td><%=h transaction.payment_method_name %></td>
    <td><%=h transaction.amount %></td>
    <td><%=h transaction.notes %></td>
    <td><%=h transaction.date %></td>
    <% unless transaction.slot %>
      <td><%= link_to('Edit', edit_transaction_path(transaction)) %></td>
      <td><%= link_to('Delete', transaction, :confirm => 'Are you sure?', :method => :delete) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transaction', new_transaction_path %>
