<div id="navcontainer">
  <ul id="navlist">
    <li <%= 'id="active"' if controller_for?('Main Menu') %>>
      <%= link_to 'Main Menu', loads_path %>
      <% if controller_for?('Main Menu') %>
        <ul id="subnavlist">
          <%= render :partial => 'navigation/submenu', :collection => main_submenu_items %>
        </ul>
      <% end %>
    </li>

    <li <%= 'id="active"' if controller_for?('Maintenance') %>>
      <%= link_to 'Maintenance', aircrafts_path %>
      <% if controller_for?('Maintenance') %>
        <ul id="subnavlist">
          <%= render :partial => 'navigation/submenu', :collection => maintenance_submenu_items %>
        </ul>
      <% end %>
    </li>

    <div id="user_nav">
      <% if current_user -%>
        Logged in as <%= link_to current_user.username, edit_user_path(:current) %> |
        <%= link_to 'Logout', logout_path %>
      <% end -%>
    </div>
  </ul>
</div>
