<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fester - Manifest System</title>
    <%= stylesheet_link_tag 'site', 'system', 'general', 'template' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="navcontainer">
      <ul id="navlist">
        <li <%= 'id="active"' if current_page?(:controller => :loads) or current_page?(:controller => :transactions) or current_page?(:controller => :accounts) %>>
          <%= link_to 'Main Menu', loads_path %>
          <% if current_page?(:controller => :loads) or current_page?(:controller => :transactions) or current_page?(:controller => :accounts) %>
            <ul id="subnavlist">
              <li <%= 'id="subactive"' if current_page?(:controller => :loads) %>>
                <%= link_to 'Manifest', loads_path %>
              </li>
              <li <%= 'id="subactive"' if current_page?(:controller => :transactions) %>>
                <%= link_to 'Transactions', transactions_path %>
              </li>
              <li <%= 'id="subactive"' if current_page?(:controller => :accounts) %>>
                <%= link_to 'Accounts', accounts_path %>
              </li>
            </ul>
          <% end %>
        </li>

        <li <%= 'id="active"' if current_page?(:controller => :aircrafts) or 
                                 current_page?(:controller => :equipment) or 
                                 current_page?(:controller => :jump_types) or 
                                 current_page?(:controller => :payment_methods) %>>
          <%= link_to 'Maintenance', aircrafts_path %>
          <% if current_page?(:controller => :aircrafts) or 
                current_page?(:controller => :equipment) or 
                current_page?(:controller => :jump_types) or 
                current_page?(:controller => :payment_methods) %>
            <ul id="subnavlist">
              <li <%= 'id="subactive"' if current_page?(:controller => :aircrafts) %>>
                <%= link_to 'Aircraft', aircrafts_path %>
              </li>
              <li <%= 'id="subactive"' if current_page?(:controller => :equipment) %>>
                <%= link_to 'Equipment', :controller => :equipment, :action => :index %>
              </li>
              <li <%= 'id="subactive"' if current_page?(:controller => :jump_types) %>>
                <%= link_to 'Jump Types', jump_types_path %>
              </li>
              <li <%= 'id="subactive"' if current_page?(:controller => :payment_methods) %>>
                <%= link_to 'Payment Methods', payment_methods_path %>
              </li>
            </ul>
          <% end %>
        </li>

        <div id="user_nav">
          <% if current_user -%>
            <%= link_to 'Edit Profile', edit_user_path(:current) %> |
            <%= link_to 'Logout', logout_path %>
          <% else -%>
            <%= link_to 'Register', new_user_path %> |
            <%= link_to 'Login', login_path %>
          <% end -%>
        </div>
      </ul>
    </div>
    <div>
      <div id="contents">
        <div id="column2_container">
          <p style="color: green"><%= flash[:notice] %></p>
          <div id="column2">
            <%= yield -%>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
