<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fester - Manifest System</title>
    <%= stylesheet_link_tag 'style', 'jquery.autocomplete' %>
    <%= javascript_include_tag 'jquery', 'jquery.autocomplete', 'application', 'prototype' %>
  </head>
  <body>
    <div id="dvmaincontainer">
      <%= render :partial => 'navigation/topmenu' %>

      <div id="dvbodycontainer">
        <% if controller_for?('Maintenance') then %>
          <%= render :partial => 'navigation/maintenance_submenu' %>
          <div id="dvrightpanel">
        <% else -%>
          <div id="dvfullpanel">
        <% end -%>

        <%= yield -%>
        </div>
      </div>
      <div id="dvfootercontainer">
        <div id="foottop">
          <p><span>Copyright © 2009 Bryan Ash</span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
