<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fester - Manifest System</title>
    <%= stylesheet_link_tag 'style', 'jquery.autocomplete', :cache => true -%>
    <%= google_javascripts :jquery, :prototype -%>
    <%= javascript_include_tag 'jquery.autocomplete', 'application', :cache => true -%>
  </head>
  <body>
    <div id="dvmaincontainer">
      <%= render :partial => 'navigation/topmenu' %>

      <div id="dvbodycontainer">
        <% if maintenance_topmenu_active? then %>
          <%= render :partial => 'navigation/maintenance_submenu' %>
          <div id="dvrightpanel">
        <% elsif my_account_topmenu_active? then %>
          <%= render :partial => 'navigation/my_account_submenu' %>
          <div id="dvrightpanel">
        <% else -%>
          <div id="dvfullpanel">
        <% end -%>

        <%= yield -%>
        </div>
      </div>
      <div id="dvfootercontainer">
        <div id="foottop">
            <%= link_to 'Feedback', 'http://bryanash.heroku.com/projects/fester', :id => 'footer-left' %>
          <div id="footer-right">
              Copyright © 2009 Bryan Ash
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
