<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fester - Manifest System</title>
    <%= stylesheet_link_tag 'site', 'jquery.autocomplete' %>
    <%= javascript_include_tag 'jquery', 'jquery.autocomplete', 'application' %>
  </head>
  <body>
    <%= render :partial => 'navigation/topmenu' %>

    <div id="contents">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield -%>
    </div>
  </body>
</html>
