!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Fester - Dropzone Management
    = stylesheet_link_tag 'style', 'jquery.autocomplete', :cache => true
    = google_javascripts :jquery
    = javascript_include_tag 'jquery.autocomplete', 'application', 'jrails', :cache => true

  %body
    #dvmaincontainer
      = render :partial => 'navigation/topmenu'

      #dvbodycontainer
        - if management_topmenu_active? then
          = render :partial => 'navigation/submenu', :locals => { :submenu_items => management_submenu_items }
          #dvrightpanel
            = yield

        - elsif my_account_topmenu_active? then
          = render :partial => 'navigation/submenu', :locals => { :submenu_items => my_account_submenu_items }
          #dvrightpanel
            = yield

        - else
          #dvfullpanel
            = yield

      #dvfootercontainer
        #foottop
          #footer-right Copyright © 2009 Bryan Ash
