<% form_for(@account) do |f| -%>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>:
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :contact %>:
    <%= f.text_field :contact %>
  </p>
  <p>
    <%= f.label :gender %>:
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :dob %>:
    <%= f.text_field :dob %>
  </p>
  <p>
    <%= f.label :jumper %>:
    <%= f.check_box :jumper %>
  </p>
  <p>
    <%= f.label :pilot %>:
    <%= f.check_box :pilot, :class => :checkbox %>
  </p>
  <p>
    <%= f.label :balance %>:
    <%= number_to_currency(@account.balance) %>
  </p>
  <p>
    <%= f.submit 'Submit', :class => :button %>
  </p>
<% end -%>
