<% form_for(@account) do |f| -%>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, :class => :inputbox %>
  </p>
  <p>
    <%= f.label :jumper, 'Jumper:' %>
    <%= f.check_box :jumper, :class => :checkbox %>
  </p>
  <p>
    <%= f.label :pilot, 'Pilot:' %>
    <%= f.check_box :pilot, :class => :checkbox %>
  </p>
  <p>
    <%= f.submit 'Submit', :class => :button %>
  </p>
<% end -%>
