<tr>
  <td><%= transaction.date -%></td>
  <td><%= transaction.payment_method_name -%></td>
  <td><%= transaction.amount -%></td>
  <td><%= transaction.notes -%></td>
  <td><%= transaction.slot_id -%></td>
</tr>
