= round_button 'New', new_account_path

- form_tag accounts_path, :method => :get do
  %fieldset#search
    %p
      = text_field_tag :name, params[:name], :class => 'autocomplete', :autocomplete_url => autocomplete_for_account_name_accounts_path
      = submit_tag 'Search', :name => nil

%table
  - @accounts.each do |account|
    %tr
      %td= link_to h(account.name), edit_account_path(account)
      %td= link_to 'Delete', account, :confirm => 'Are you sure?', :method => :delete
