<p>
  <b>Name:</b>
  <%=h @account.name %>
  <br />

  <b>Email:</b>
  <%=h @account.email %>
  <br />

  <b>Contact:</b>
  <%=h @account.contact %>
  <br />

  <b>Gender:</b>
  <%=h @account.gender %>
  <br />

  <b>DOB:</b>
  <%=h @account.dob %>
  <br />

  <b>Roles:</b>
  <%= @account.roles.join ', ' %>
  <br />

  <b>Balance:</b>
  <%= @account.balance %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
